{{ 'before-after-slider.css' | asset_url | stylesheet_tag }}

<section class="before-after-slider">
  <div class="before-after-slider__titles page-width">
    <h2>See for yourself</h2>
    <p>These results were shared by actual customers</p>
  </div>
  <div class="before-after-slider__wrapper">
    <div class="swiper before-after-slider__swiper">
      <div class="swiper-wrapper">
        <div class="swiper-slide">
          <div class="before-after-slider__slide">
            <div class="before-after-slider__images">
              <div class="before-after-slider__slide-part">
                <span class="before-after-slider__slide-text">Before</span>
                <div class="before-after-slider__slide-image">
                  <img src="{{ 'before-slide-1.jpg' | asset_url }}" width="320" height="470" alt="Before">
                </div>
              </div>
              <div class="before-after-slider__slide-part">
                <span class="before-after-slider__slide-text">After 2 Weeks</span>
                <div class="before-after-slider__slide-image">
                  <img src="{{ 'after-slide-1.jpg' | asset_url }}" width="320" height="470" alt="Before">
                </div>
              </div>
            </div>

            <div class="before-after-slider__review">
              “Six months in, Melatonic Growth has filled in my thinning spots and made my hair stronger.” -
              <br>
              <span>Kelly</span>
            </div>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="before-after-slider__slide">
            <div class="before-after-slider__images">
              <div class="before-after-slider__slide-part">
                <span class="before-after-slider__slide-text">Before</span>
                <div class="before-after-slider__slide-image">
                  <img src="{{ 'before-slide-2.jpg' | asset_url }}" width="320" height="470" alt="Before">
                </div>
              </div>
              <div class="before-after-slider__slide-part">
                <span class="before-after-slider__slide-text">After 60 Days</span>
                <div class="before-after-slider__slide-image">
                  <img src="{{ 'after-slide-2.jpg' | asset_url }}" width="320" height="470" alt="Before">
                </div>
              </div>
            </div>

            <div class="before-after-slider__review">
              “The dropper makes Melatonic Growth easy to apply—I’ve used it for a month and notice less hair fall!” -
              <br>
              <span>Andrew</span>
            </div>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="before-after-slider__slide">
            <div class="before-after-slider__images">
              <div class="before-after-slider__slide-part">
                <span class="before-after-slider__slide-text">Before</span>
                <div class="before-after-slider__slide-image">
                  <img src="{{ 'before-slide-1.jpg' | asset_url }}" width="320" height="470" alt="Before">
                </div>
              </div>
              <div class="before-after-slider__slide-part">
                <span class="before-after-slider__slide-text">After 6 Weeks</span>
                <div class="before-after-slider__slide-image">
                  <img src="{{ 'after-slide-1.jpg' | asset_url }}" width="320" height="470" alt="Before">
                </div>
              </div>
            </div>
            <div class="before-after-slider__review">
              “Six months in, Melatonic Growth has filled in my thinning spots and made my hair stronger.” -
              <br>
              <span>Kelly</span>
            </div>
          </div>
        </div>

        <div class="swiper-slide">
          <div class="before-after-slider__slide">
            <div class="before-after-slider__images">
              <div class="before-after-slider__slide-part">
                <span class="before-after-slider__slide-text">Before</span>
                <div class="before-after-slider__slide-image">
                  <img src="{{ 'before-slide-1.jpg' | asset_url }}" width="320" height="470" alt="Before">
                </div>
              </div>
              <div class="before-after-slider__slide-part">
                <span class="before-after-slider__slide-text">After 6 Weeks</span>
                <div class="before-after-slider__slide-image">
                  <img src="{{ 'after-slide-1.jpg' | asset_url }}" width="320" height="470" alt="Before">
                </div>
              </div>
            </div>
            <div class="before-after-slider__review">
              “Six months in, Melatonic Growth has filled in my thinning spots and made my hair stronger.” -
              <br>
              <span>Kelly</span>
            </div>
          </div>
        </div>
      </div>
      <div class="swiper-pagination"></div>
    </div>
  </div>
</section>

<script>
  document.addEventListener('DOMContentLoaded', function () {
    const swiperBeforeAfter = new Swiper('.before-after-slider__swiper', {
      spaceBetween: 8,
      slidesPerView: 1.2,

      pagination: {
        el: '.swiper-pagination',
        clickable: true,
      },

      breakpoints: {
        767: {
          spaceBetween: 10,
          slidesPerView: 2,
        },

        992: {
          slidesPerView: 3,
          centeredSlides: true,
          loop: true,
        },
      },
    });
  });
</script>

{% schema %}
{
  "name": "Before After Slider",
  "settings": [],
  "presets": [
    {
      "name": "Before After Slider"
    }
  ]
}
{% endschema %}
